<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        FishBlog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addPost">Добавить статью</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fishes">Рыбы)</a>
            </li>
        </ul>
    </div>
</nav>

<content class="container d-flex flex-column align-items-right mt-4">
    <a class="btn btn-outline-danger" href="/addPost">< Назад</a>
    <form th:object="${fish}">
        <div class="form-group">
            <label class="mt-3 font-weight-bold" for="name">Имя:</label>
            <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Имя"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label class="mt-2 font-weight-bold" for="averageWeight">Средний вес:</label>
            <input type="number" step="0.1" th:field="*{averageWeight}" id="averageWeight" class="form-control"
                   placeholder="Средний вес"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('averageWeight')}"
                  th:errors="*{averageWeight}"></span>
        </div>
        <div class="form-group mb-0 pb-0">
            <label class="mt-2 mb-0 font-weight-bold" for="iq">IQ:</label>
            <input type="number" th:field="*{iq}" id="iq" class="form-control" placeholder="IQ"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('iq')}"
                  th:errors="*{iq}"></span>
        </div>
        <div class="custom-control custom-checkbox mr-sm-2 ml-2 mt-2">
            <input type="checkbox" th:field="*{redBook}" class="custom-control-input" id="redBook">
            <label class="custom-control-label" for="redBook">Вымирающий вид</label>
        </div>
        <div class="form-group">
            <label class="mt-3 font-weight-bold" for="color">Цвет:</label>
            <input type="text" th:field="*{color}" id="color" class="form-control" placeholder="Цвет"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('color')}"
                  th:errors="*{color}"></span>
        </div>
        <p><input class="btn btn-primary" type="submit" formaction="/createFish" formmethod="post"
                  value="Добавить рыбу"></p>
    </form>
</content>
</body>
</html>