<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        FishBlog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addPost">Добавить статью</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fishes">Рыбы)</a>
            </li>
        </ul>
    </div>
</nav>

<content class="container d-flex flex-column align-items-right mt-4">

    <a class="btn btn-outline-danger" th:href="@{/selectedPost?id={id}(id=${post.id})}">< Назад</a>
    <form th:object="${post}">
        <div class="form-group">
            <label class="mt-4 font-weight-bold" for="text">Заголовок:</label>
            <input type="text" id="text" class="form-control" th:field="*{title}" th:value="${post.title}"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="riba">Рыба:</label>
            <select id="riba" class="form-control mb-2" name="fish_id">
                <div th:each="fish : ${fishes}">
                    <option th:selected="${fish.id == post.fish.id}" th:value="${fish.id}" th:text="${fish.name}"/>
                </div>
            </select>
            <button formaction="/addFish" formmethod="get" class="form-control btn btn-outline-success">
                Добавить новую рыбу
            </button>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="anons">Анонс:</label>
            <input type="text" th:field="*{anons}" class="form-control" id="anons"
                   placeholder="Анонс" th:value="${post.anons}"/>
            <span class="error text-danger" th:if="${#fields.hasErrors('anons')}" th:errors="*{anons}"></span>
        </div>
        <div class="form-group">
            <label class="font-weight-bold" for="full_text">Содержание:</label>
            <textarea th:field="*{full_text}" class="form-control" id="full_text"
                      placeholder="Содержание" th:text="${post.full_text}"></textarea>
            <span class="error text-danger" th:if="${#fields.hasErrors('full_text')}" th:errors="*{full_text}"></span>
        </div>
        <input type="hidden" th:field="*{id}" th:value="${post.id}"/>
        <input type="hidden" th:value="${post.fish}" th:field="*{fish}">
        <input type="hidden" th:value="${post.fish.id}" th:field="*{fish.id}">

        <p><input class="btn btn-primary" type="submit" formaction="/editPost" formmethod="post" value="Сохранить"></p>
    </form>
</content>
</body>
</html>