<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        FishBlog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addPost">Добавить статью</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fishes">Рыбы)</a>
            </li>
        </ul>
    </div>
</nav>


<content class="d-flex p-2 ml-2 flex-column">
    <a class="btn btn-outline-danger" th:href="@{/selectedPost?id={id}(id=${comment.post.id})}">< Назад</a>

    <form class="mt-3" th:object="${comment}" enctype="multipart/form-data">
        <input type="hidden" th:value="${comment.id}" th:field="*{id}">
        <input type="hidden" th:value="${comment.post}" th:field="*{post}">
        <label class="font-weight-bold" for="full_text">Текст комментария:</label>
        <textarea placeholder="Текст комментария" id="full_text" class="form-control mb-2"
                  th:field="*{text}"
                  th:text="${comment.text}"/>
        <span class="error text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>


        <div th:if="${comment.photo != null}" class="ml-5 mr-5 mb-2 pl-5 pr-5">
            <p class="align-right my-auto">
                <img th:src="data:image/jpeg;base64,${comment.getNormalPhoto}" class="rounded img-fluid" alt="...">
            </p>
        </div>
        <input type="file" name="photo" value="выбрать изображение"
               class="btn btn-outline-primary form-control mb-2">
        <!--            <input type="submit" formmethod="post">-->

        <p><input type="submit" formaction="/comment/edit" formmethod="post" value="Сохранить" class="btn btn-primary">
        </p>
    </form>
</content>

</body>
</html>