<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
        <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        FishBlog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addPost">Добавить статью</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fishes">Рыбы)</a>
            </li>
        </ul>
    </div>
</nav>

<content class="container d-flex flex-column align-items-right mt-4">
    <a class="btn btn-outline-danger" href="/fishes">< Назад</a>

    <h2 class="pt-4" th:text="${fish.name}"></h2>
    <p class="font-weight-bold lead text-danger" th:if="${fish.redBook}">
        <label>Вымирающий вид</label>
    </p>
    <p class="font-weight-bold">Средний вес:
        <label class="font-weight-normal" th:text="${fish.averageWeight}"></label>
    </p>
    <p class="font-weight-bold">IQ:
        <label class="font-weight-normal" th:text="${fish.iq}"></label>
    </p>
    <p class="font-weight-bold">Цвет:
        <label class="font-weight-normal" th:text="${fish.color}"></label>
    </p>

    <div class="btn-group">
        <form th:action="@{/fish/editFishPage}" method="post" class="pr-3">
            <input type="hidden" th:value="${fish.id}" name="id">
            <input value="Редактировать" type="submit" class="btn btn-outline-primary">
        </form>
        <form th:action="@{/fish/delete}" method="post">
            <input type="hidden" th:value="${fish.id}" name="id">
            <input value="Удалить" type="submit" class="btn btn-outline-danger">
        </form>
    </div>


</content>
</body>
</html>